<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdbnet.hywy.employee"
    android:installLocation="internalOnly"
    android:versionCode="22"
    android:versionName="release1.5.8" >

    <!-- android:versionCode="22" -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--  -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Required -->
    <permission
        android:name="com.sdbnet.hywy.employee.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.sdbnet.hywy.employee.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- since 1.6.0 -->


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- android:theme="@android:style/Theme.Light.NoTitleBar" -->
    <!-- android:theme="@android:style/Theme.Light.NoTitleBar" -->
    <!-- android:theme="@style/AppTheme" -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >

        <!-- android:launchMode="singleTask" -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 如果是通过桌面长按添加快捷方式，才需要添加此配置 -->
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
             <receiver
            android:name="com.android.launcher2.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".ui.UserLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
       <!-- <activity
            android:name=".ui.UserValidationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>-->
        <activity
            android:name=".ui.SystemResetPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DraftBoxActivtiy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.InfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ScanOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.OrderActionActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ThridScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.OrderExecuteActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SystemSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
<!--
        <activity
            android:name=".ui.UserResetPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
-->
        <activity
            android:name=".ui.AccidentOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AccidentAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopWindowActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyPopWindowStyle" >
        </activity>
        <activity
            android:name=".ui.DialogTipActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" >
        </activity>
        <activity
            android:name=".ui.EditInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ChooseModelActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ChooseLengthActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ChooseWeightActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity
            android:name=".ui.SetCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>-->
        <activity
            android:name=".ui.AlbumPicActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ImageGridActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ImageDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <!--activity
            android:name=".ui.SelectLoginTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>-->
        <activity
            android:name=".ui.SelectProjectActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 开机自启 -->
        <!--
        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ShutdownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        -->
        <!-- System Broadcast -->
        <receiver android:name=".receiver.SystemBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!--
                     <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                -->
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action
                    android:name="com.baidu.location.service"
                    android:exported="false" />
            </intent-filter>
        </service>
        <service
            android:name=".service.TimeUploadService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>

                <!-- <action android:name="com.sdbnet.hywy.action.uplocation" /> -->
                <action android:name="com.sdbnet.hywy.employee.action.start.location" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GuardianService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:process="com.sdbnet.hywy.employee.guardian" >
            <intent-filter>
                <action android:name="com.sdbnet.hywy.employee.action.start.guardian" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <!-- 高德Key ZY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1ac09b3bfeeaa41c10d89c328e8e7969" />
        <!--
             <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WRo07ABKEUHaaG5wVm7yTlhA" />
        -->
        <!-- 百度Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="O58UseSdR8UrLIjbeKIEfxKC" />
        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="ZmqCKKBQTYMBeRxSbNbPj880" />
        <!--
             <meta-data
            android:name="UMENG_APPKEY"
            android:value="54c6e7d9fd98c59608000249" />
        -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54c6e985fd98c5bd21000409" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DefaultSale" />

        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.sdbnet.hywy.employee" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.sdbnet.hywy.employee" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="74571db3e97379c4e45e3db8" />
    </application>

</manifest>